body {
    background-color: #041821;
    color:white;
}

header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:3em;
    width:100%;
    border-bottom: 1px solid;
    border-color: white;
}

.logos {
    padding: 1em;
}

.fa-brands, .fa-solid {
    color:white;
}
.greytext {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    color: #e5e5e5;
}
.greentext {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    color: #1bd79e;
}

section {
    color: white;
    margin-left: 5%;

}

.navspan {
    
}

.navspan:hover {
    background-color: #1bd79e;
    cursor: pointer;
}

.para {
    color: #808080
}

footer {
    text-align: center;
}